body {
    margin-bottom: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
html {
    position: relative;
    min-height: 100%;
}
.billing-section {
    min-height: 87%;
    height: auto !important;
    /*margin: 0 auto -60px;*/
}


/*.container .footer {*/
    /*margin: 20px 0;*/
/*}*/
.change-backgroung {
    background-color: white!important;
    cursor: pointer !important;
}

#footer {
    background-color: black;
    height: 60px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
p {
    margin: 0 0 10px;
}


p {
    display: block;
    text-align: center;
    margin-top: 20px;

}